<div class="container justify-content-center">
    <div class="row no-gutters">
        <div class="col-6 col-md-1">
            <a href="/"><img src="/images/logo1.png" alt="logo" class="logo" /></a>
        </div>
        <div class="col-6 col-md-11">
            <a href="/" class="links">
            <h1 class="mainh1">Training and Placement Cell</h1>
            <h2 class="mainh2"> National Institute of Technology Andhra Pradesh</h2>
        </div>
    </div>
</div>