<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - Training & Placement Cell-NITAP</title>
    <link rel="icon" href="/images/logo1.png" type="image/icon type" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- Header Start -->

    <%- include('./partials/header.ejs')%>

    <!-- Header End -->

    <!-- Navbar Start -->

    <%- include('./partials/navbar.ejs')%>

    <!-- Navbar End -->

    <!-- About Us Start -->

    <div class="full">
      <section id="about" class="py-lg-4 container">
        <h2>About the Institute</h2>
        <br />
        <p>
          National Institute of Technology, Andhra Pradesh is the 31st
          institution among the chain of NITs started by the Government of
          India. NIT Andhra Pradesh is established in the state of Andhra
          Pradesh recently in the academic year 2015 - 2016. Currently the
          Institute is offering B.Tech., M.Tech., Ph.D. and MS programmes. A new
          campus has been established with 172.6 acres of land adjacent to
          Chennai-Kolkata Highway (NH-16) in the air-strip lands of
          Tadepalligudem. CPWD had taken up the construction activity for all
          the buildings using Prefabrication construction technology. The
          construction work of Phase 1A buildings (Academic & laboratory
          complexes, Hostels, faculty and staff quarters etc.) is already
          completed. Presently the institute is fully running from the permanent
          campus. The construction works of Phase 1B is also almost completed
          which include additional academic & Laboratory infrastructure along
          with fullfledged recreation & students amenities centre.
        </p>
        <br />
        <h2>About Trainig & Placement Cell</h2>
        <br />
        <p>
          Training and Placement Section is the marketing division of the
          institute. This section, acting as an interface between the college
          and companies, has maintained symbiotic and purposeful relationship
          with industries across the country.As a result, it is willing to build
          up an impressive record both in terms of percentage of students placed
          as well as number of companies visiting the campus. The section hosts
          companies on campus and ensures that every aspirant is assured of a
          bright career of his/her choice.
        </p>
        <p>
          The placement season runs through the course of the year commencing
          the last week of July through to March. Pre-Placement Talks are also
          conducted in this regard as per mutual convenience. Job offers, dates
          of interviews, selection of candidates etc. are announced through the
          Training & Placement Office. The Placement Office is assisted by a
          committee comprising representatives of students from the
          under-graduate and post-graduate engineering streams. The committee
          evolves a broad policy framework every year besides a set of rules
          which are inviolable. Students members are closely co-opted in
          implementing these policy decisions.
        </p>
        <h5>Vision</h5>
        <p>
          To be a nationally recognized organization that attracts, rewards,
          retains outstanding faculty, students and staff.
        </p>
        <h5>Mission</h5>
        <p>Prepare Quality Engineers for Successful Future.</p>
      </section>
    </div>

    <!-- About Us End -->

    <!-- Footer Start -->

    <%- include('./partials/footer.ejs')%>

    <!-- Footer End -->
  </body>
</html>
