<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US - Trainig & Placement Cell-NITAP</title>
    <link rel="icon" href="/images/logo1.png" type="image/icon type" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/app.css" />

    <link rel="stylesheet" href="/css/contact.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- Header Start -->

    <%- include('./partials/header.ejs')%>

    <!-- Header End -->

    <!-- Navbar Start -->

    <%- include('./partials/navbar.ejs')%>

    <!-- Navbar End -->

    <!-- Contact Us Start -->

    <section class="full">
      <div class="container">
        <h1 class="py-4 font-weight-dark">Our Team</h1>
        <br />
        <div class="row no-gutters justify-content-center">
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center d-inline">
              <!-- <br> -->
              <h5>Dr. Karthick Seshadri</h5>
              <br />
              <h6>Dean, SCAIR</h6>
              <br />
              <a
                class="text-decoration-none mb-3"
                href="mailto:dean_scair@nitandhra.ac.in"
                >dean_scair@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Dr. Karthikeya Sharma</h5>
              <h6>Assoc. Dean, T&P Cell</h6>
              <br />
              <a
                class="text-decoration-none"
                href="mailto:ad_tap@nitandhra.ac.in"
                >ad_tap@nitandhra.ac.in</a
              >
              <br />
              <br />
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Dr. Santhosh Kumar Gugulothu</h5>
              <h6>
                Assoc.Dean, Alumini, Internships & International Relations
              </h6>
              <!-- <br /> -->
              <a
                class="text-decoration-none mb-3"
                href="mailto:alumni@nitandhra.ac.in"
                >alumni@nitandhra.ac.in</a
              >
              <br />
            </div>
          </div>
        </div>
        <h1 class="py-4 font-weight-dark">Faculty Coordinators</h1>
        <br />
        <div class="row no-gutters justify-content-center">
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Bio Tech</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
              <br />
              <br />
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Civil</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Chemical</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>CSE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>ECE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>EEE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
              <br />
              <br />
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Mechanical</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>MME</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@nitandhra.ac.in</a
              >
            </div>
          </div>
        </div>

        <h1 class="py-4 font-weight-dark">Student Coordinators</h1>
        <br />
        <div class="row no-gutters justify-content-center">
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Bio Tech</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
              <br /><br />
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Civil</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Chemical</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>CSE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>ECE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>EEE</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
              <br /><br />
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>Mechanical</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
          <div class="col-md-2 cont">
            <img src="/images/conprofile.png" alt="Karthick" />
            <div class="text-center">
              <h5>Name</h5>
              <h6>MME</h6>
              <br />
              <a class="text-decoration-none" href="mailto:someone@example.com"
                >mail@student.nitandhra.ac.in</a
              >
            </div>
          </div>
        </div>
        <p class="address">
          <br />
          Contact Information <br /><br />
          Address: <br />
          Near National Highway No. 16,<br />
          Kadakatla, Tadepalligudem, <br />
          West Godavari, Andhra Pradesh-534101. <br />
          <br />
          <i class="fa fa-phone" style="font-size: 24px"
            ><a class="nummail" href="tel:+91-9492747016"> +91-9492747016</a></i
          ><br />
          <i class="fa fa-envelope" style="font-size: 24px"
            ><a class="nummail" href="mailto:tap@nitandhra.ac.in">
              tap@nitandhra.ac.in</a
            ></i
          >
          <br />
          <br />
        </p>
      </div>
    </section>

    <!-- Contact Us End -->

    <!-- Footer Start -->

    <%- include('./partials/footer.ejs')%>

    <!-- Footer End -->
  </body>
</html>
