<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Training & Placement Cell - NIT Andhra Pradesh</title>
    <link rel="icon" href="/images/logo1.png" type="image/icon type" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body class="d-flex flex-column vh-100">

<!-- Header Start -->

    <%- include('./partials/header.ejs')%>

<!-- Header End -->

<!-- Navbar Start -->

    <%- include('./partials/navbar.ejs')%>

<!-- Navbar End -->

<!-- Carousel Start -->

    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2500">
          <img src="/images/Carousel-1.png" class="d-block w-100 cimg" alt="Carousel" />
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="/images/Carousel-2.png" class="d-block w-100 cimg" alt="Carousel" />
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="/images/Carousel-3.png" class="d-block w-100 cimg" alt="Carousel" />
        </div>
        <div class="carousel-item" data-bs-interval="2500">
          <img src="/images/Carousel-4.png" class="d-block w-100 cimg" alt="Carousel" />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
<!-- Carousel End -->
    <div>
      <section id="about" class= "aboutcss">
      <p>
        The <b>Training & Placement Cell-NITAP</b>, facilitates the process of placement of students passing out from the Institute besides collaborating with leading organizations and institutes in setting up of internship and training program of students. The office liaises with various industrial establishments, corporate houses etc which conduct campus interviews and select graduate and post-graduate students from all disciplines. The Training & Placement Office provides the infra-structural facilities to conduct group discussions, tests and interviews besides catering to other logistics. The Office interacts with many industries in the country, of which nearly 200 companies visit the campus for holding campus interviews. The industries which approach the institute come under the purview of: Core Engineering industries IT & IT enabled services Manufacturing Industries Consultancy Firms Finance Companies Management Organisations R & D laboratories.
      </p>
      
      </section>
    </div>
    <section class="msg">
    <div class="container">
    <div class="row">
        <div class="col-md">
      <p class="mess">
        <img src="/images/director.png" alt="director" class="messages" /> Message from
        Director
      </p>
      <p>
        National Institute of Technology, Andhra Pradesh (NITAP) has been
        working with primary notion of making its contribution to our nation by
        completely understanding the philosophy and pedagogies of the top-notch
        institutes of our country. insight into the new and growing body of knowledge and extend
        the benefits to human race. In the present age of technology, NITAP
        strides continuously to develop skilled and competent professionals by
        offering internships in newer domains of technology through our
        technology innovation hub (TIH),...<button class="btn btn-xs btn-sm btn-default" type="button" data-bs-toggle="modal" data-bs-target="#dmsg">Read More</button>
      </p>
      </div>
          <div class="col-md">
      <p class="mess">
        <img src="/images/tpccord.png" alt="TPC Cordinator" class="messages" /> Message from
        TPC Coordinator
      </p>
      <p>
        It gives me immense pleasure to cordially invite you to participate in the Placement and Internship Session 2022-23 at the National Institute of Technology, Andhra Pradesh. It is my sincere belief that our institute and your esteemed organization stand to gain immensely from this partnership.
In the present age of technology, NITAP strides continuously to develop skilled and competent professionals by offering internships in newer domains of technology through our technology innovation hub (TIH), technology incubation center, tinkering labs and vibrant...
<button class="btn btn-xs btn-sm btn-default" type="button" data-bs-toggle="modal" data-bs-target="#tpcmsg">Read More</button>
      
      </p>
      </div>
    </div>
  </section>

    <div>
      <section id="past" class="pasti">
        <h2>Few of Our Past Recruiters</h2>
        <img src="/images/Recru.png" alt="Past Recruiters" class="pastimg" />
      </section>
    </div>

    <div class="modal fade modal-xl" id="dmsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Director's Message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p class="dms">Greetings from National Institute of Technology, Andhra Pradesh 
<br><br>
NITAP is a pioneer institution in the field of engineering and technology, involved in the creation and diffusion of scientific, technical, and professional knowledge with a pragmatic approach for the promotion of indigenous and global industries as well as to serve  humanity. Indeed this seat of learning is the living embodiment of the aspiration of new India because it believes to discover new facts or new relations between known facts which gives us a true insight into the new and growing body of knowledge and extend the benefits to human race.
<br><br>
In the present age of technology, NITAP strides continuously to develop skilled and competent professionals by offering internships in newer domains of technology through our technology innovation hub (TIH), technology incubation center, tinkering labs and vibrant technology-driven environment that creates a talent pool with unmatched credentials along with the commitment of national progress  and global welfare.  Indeed the exponential growth of technology driven society coerce us to re-imagine and reinvent the  state-of-the-art training modules for students to address the challenges of whole technology landscape and therefore  our internship programs in decision and precision science, artificial intelligence, quantum computing, sensors and Internet of Things(IoT), Cyber physical system(CPS), clean energy automobile, hybrid electric and hydrogen energy, infrastructure, supply and chain, telematics, drug discovery, novel drug delivery systems, medical devices, etc. continuously producing the skilled human resources for addressing the technological challenges and also in the creation of new  opportunities by unlocking the innovations in all the applied fields of engineering, technology and science. Our right skilling and re-skilling program modules make our students future ready.
<br><br>
I am confident that our students will prove themselves and contribute immensely toward the pursuit of organization's ambitions with a ray of hope that our indigenous and global industries will offer internships and jobs to our students at our campus and further, this relationship will go beyond having other kinds of engagements and mutual benefits.
<br><br>
I extend my deep appreciation for our industry partners who have recognized the depth of our rich and diverse talent pool and accorded valuable opportunities
<br><br>
I am looking forward to your visit to this campus soon.
<br><br>
<b>Professor Pramod M. Padole</b>
<br>
Director,
<br>
NITAP, Tadepalligudem.</p>
        
      </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade modal-xl" id="tpcmsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">TPC Coordinator's Message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p class="dms">

        It gives me immense pleasure to cordially invite you to participate in the Placement and Internship Session 2022-23 at the National Institute of Technology, Andhra Pradesh. It is my sincere belief that our institute and your esteemed organization stand to gain immensely from this partnership.
        <br><br>
        Having pioneered technical education in India for over a century, NITAP has continuously been ranked among the elite institutions of the country. Our relentless pursuit of excellence has made our institute a focal point in technical education among the brightest minds in India. Admissions to NITAP are secured through the prestigious Joint Entrance Examination (JEE) and Graduate Aptitude Test in Engineering (GATE).
        <br><br>
        With increasing emphasis being placed on job-ready talent for the industry, NITAP has taken great care in ensuring the technical brilliance of all its students. All undergraduate students undergo summer training in reputed companies/institutions/organizations as part of their academic curriculum. The experience is further supplemented by frequent industry interactions.

        <br><br>
        More information about the Institute and various programmes/ courses offered to the students is available in the placement brochure. Please feel free to contact the Training and Placement Section in case of any queries.
        <br><br>
        I look forward to a fruitful and mutually beneficial relationship with your esteemed organization.
        <br><br>
        <b>Dr. T. Karthikeya Sharma</b>
        <br>
        Associate Dean,
        <br>
        Training and Placement Cell,
        <br>
        NITAP, Tadepalligudem.
        <br>
            </p>
                
    </div>
    </div>
    </div>
    </div>
    </div>

    <%- include('./partials/footer.ejs')%>

</body>
</html>
