.preview {
  color: #555;
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 5px dashed #c8c7c7;
  border-radius: 5px;
  font-family: monospace;
  background-color: #c8c7c7;
}
form i {
  margin-left: -30px;
  cursor: pointer;
}
.preview span {
  display: inline-block;
  user-select: none;
}
