<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recruiter Registration - Trainig & Placement Cell-NITAP</title>
    <link rel="icon" href="/images/logo1.png" type="image/icon type" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="/css/rec.css" /> -->
    <link rel="stylesheet" href="/css/changepassword.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <!-- Navbar Start -->

    <%- include('../partials/recnavbar.ejs')%>

    <!-- Navbar End -->

    <!-- Login Page Start -->
    <div class="full">
      <div class="container py-3 d-block">
        <div class="col-md-4 offset-md-4">
          <h2 class="py-3 text-center heading">Change Password</h2>
          <form
            action="/rec/<%=rec.Comp_id%>/changepassword?_method=PUT"
            method="POST"
            class="validated-form"
            novalidate
          >
            <div class="mb-3">
              <label for="inputCurrPassword" class="form-label"
                >Current Password</label
              >
              <input
                name="CurrPassword"
                placeholder="Current Password"
                type="password"
                class="form-control d-inline"
                id="inputCurrPassword"
                required
              /><i class="fa fa-eye" id="togglePassword1"></i>
              <div class="invalid-feedback">Invalid Password</div>
            </div>

            <div class="mb-3">
              <label for="inputNewPassword" class="form-label"
                >New Password</label
              >
              <input
                name="NewPassword"
                oninput="myFunction()"
                type="password"
                placeholder="New Password"
                class="form-control d-inline"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[#?!@$%^&*])(?=.*[A-Z]).{8,}"
                id="inputNewPassword"
                required
              /><i class="fa fa-eye" id="togglePassword2"></i>
              <div class="invalid-feedback">
                Password must contain at least one number and one uppercase and
                lowercase letter,one special character from [#?!@$%^&*] and at
                least 8 or more characters long
              </div>
            </div>
            <div class="mb-3">
              <label for="inputConfPassword" class="form-label"
                >Confirm Password</label
              >
              <input
                name="ConfPassword"
                placeholder="Confirm Password"
                type="password"
                class="form-control d-inline"
                id="inputConfPassword"
                required
              /><i class="fa fa-eye" id="togglePassword3"></i>
              <div class="invalid-feedback">Passwords donot Match</div>
            </div>
            <div class="text-center">
              You need to login again using New Password
            </div>
            <button
              id="chagePswd"
              type="submit"
              class="btn btn-success col-12 mt-3"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Password Page End -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/changepassword.js"></script>

    <script>
      (function () {
        "use strict";
        const forms = document.querySelectorAll(".validated-form");
        Array.from(forms).forEach(function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      })();
    </script>

    <script>
      const togglePassword1 = document.querySelector("#togglePassword1");

      const currpassword = document.querySelector("#inputCurrPassword");

      togglePassword1.addEventListener("click", () => {
        const type =
          currpassword.getAttribute("type") === "password"
            ? "text"
            : "password";
        if (togglePassword1.classList.contains("fa-eye")) {
          togglePassword1.classList.remove("fa-eye");
          togglePassword1.classList.add("fa-eye-slash");
        } else {
          togglePassword1.classList.add("fa-eye");
          togglePassword1.classList.remove("fa-eye-slash");
        }
        currpassword.setAttribute("type", type);
        this.classList.toggle("bi-eye");
      });
      const togglePassword2 = document.querySelector("#togglePassword2");

      const newpassword = document.querySelector("#inputNewPassword");

      togglePassword2.addEventListener("click", () => {
        const type =
          newpassword.getAttribute("type") === "password" ? "text" : "password";
        if (togglePassword2.classList.contains("fa-eye")) {
          togglePassword2.classList.remove("fa-eye");
          togglePassword2.classList.add("fa-eye-slash");
        } else {
          togglePassword2.classList.add("fa-eye");
          togglePassword2.classList.remove("fa-eye-slash");
        }
        newpassword.setAttribute("type", type);
        this.classList.toggle("bi-eye");
      });
      const togglePassword3 = document.querySelector("#togglePassword3");

      const confpassword = document.querySelector("#inputConfPassword");

      togglePassword3.addEventListener("click", () => {
        const type =
          confpassword.getAttribute("type") === "password"
            ? "text"
            : "password";
        if (togglePassword3.classList.contains("fa-eye")) {
          togglePassword3.classList.remove("fa-eye");
          togglePassword3.classList.add("fa-eye-slash");
        } else {
          togglePassword3.classList.add("fa-eye");
          togglePassword3.classList.remove("fa-eye-slash");
        }
        confpassword.setAttribute("type", type);
        this.classList.toggle("bi-eye");
      });
      function myFunction() {
        const newp = document.querySelector("#inputNewPassword").value;
        const conp = document.querySelector("#inputConfPassword");
        conp.setAttribute("pattern", `${newp}`);
        console.log(newp);
      }
    </script>
  </body>
</html>
